<div class="cover row">
	<h1>Purchase</h1>
</div>
<div class="cover row">
	<div id="currencyContainer"></div>
</div>
<div class="cover row">
	<form id="frmPurchase" class="form">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group" id="[tid]_localAmount">[localAmount]</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" id="[tid]_foreignAmount">[foreignAmount]</div>
			</div>
		</div>
		<div class="cover row">
			<div class="col-md-12">
				&nbsp;<br/>

				<div class="form-group" id="[tid]_btnCalculate">[btnCalculate]</div>
				<div class="form-group" id="[tid]_btnPlaceOrder">[btnPlaceOrder]</div>
			</div>
		</div>
	</form>
</div>