
<br />
<br />
<div class="col-md-12 header-block">

    <div class="about row">
        <div class="col-md-12">
            <div class="inner cover">
                <h1 class="cover-heading">About</h1>
                    This site was developed as a technical assessment for Mukuru.
                    The following sections provides a quick overview of this project.
            </div>
        </div>
    </div>

</div>
<div class="col-md-12">
</div>

<div class="row cover"><p>&nbsp;</p></div>

<div class="col-md-12 header-block">

    <div class="row">
        <div class="col-md-12">
            <div class="inner cover">
                <h1 class="cover-heading">Frameworks</h1>

                <p>
                    <i>- Frameworks used to build this project -</i>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="inner cover">
                <h3 class="cover-heading">Zend Framework 2.3</h3>
            </div>
        </div>
        <div class="col-md-8">
            <div class="">
                <p>
                    <br/>The most popular framework for modern, high-performing PHP applications.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="inner cover">
                <h3 class="cover-heading">jQuery 1.11.1</h3>
            </div>
        </div>
        <div class="col-md-8">
            <div>
                <p>
                    <br/>jQuery is a fast, small, and feature-rich JavaScript library.
                    It makes things like HTML document traversal and manipulation, event handling,
                    animation,
                    and Ajax much simpler with an easy-to-use API that works across a multitude of browsers.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="inner cover">
                <h3 class="cover-heading">Bootstrap 3</h3>
            </div>
        </div>
        <div class="col-md-8">
            <div class="">
                <p>
                    <br/>Bootstrap is the most popular HTML, CSS, and JS framework
                    for developing responsive, mobile first projects on the web.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="inner cover">
                <h3 class="cover-heading">Doctrine 2</h3>
            </div>
        </div>
        <div class="col-md-8">
            <div class="">
                <p>
                    <br/>The Doctrine Project is the home of a selected set of PHP libraries primarily focused on providing persistence services and related functionality.
                    It's prize projects are a Object Relational Mapper and the Database Abstraction Layer it is built on top of.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row cover"><p>&nbsp;</p></div>

<div class="col-md-12 header-block">

    <div class="row">
        <div class="col-md-12">
            <div class="inner cover">
                <h1 class="cover-heading">Design Patterns</h1>

                <p>
                    <i>- Design patterns used in this project -</i>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="inner cover">
                <h3 class="cover-heading">Registry pattern</h3>
            </div>
        </div>
        <div class="col-md-8">
            <div class="">
                <p>
                    <br/>The Registry pattern was used for universal access to the Zend ServiceManager, Zend Session and authenticated user data.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="inner cover">
                <h3 class="cover-heading">Repository pattern</h3>
            </div>
        </div>
        <div class="col-md-8">
            <div class="">
                <p>
                    <br/>The Repository pattern was used as a separation layer between the REST API and Service layer of the application
                    and to keep our controllers as thin as possible.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="inner cover">
                <h3 class="cover-heading">Delegation pattern</h3>
            </div>
        </div>
        <div class="col-md-8">
            <div class="">
                <p>
                    <br/>The Delegation pattern was used for initial exchange order calculations, additional discount calculation
                    on entity population and email notification execution based on currency rules.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="inner cover">
                <h3 class="cover-heading">Service Locator pattern</h3>
            </div>
        </div>
        <div class="col-md-8">
            <div class="">
                <p>
                    <br/>The Service Locator pattern was used for all interactions with services by the Repository layer.
                </p>
            </div>
        </div>
    </div>

</div>

<div class="row cover"><p>&nbsp;</p></div>

<div class="col-md-12 header-block">

    <div class="row">
        <div class="col-md-12">
            <div class="inner cover">
                <h1 class="cover-heading">Separation of concerns</h1>

                <p>
                    <i>- Principles and patterns used to achieve separation of concerns in this project -</i>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="inner cover">
                <h3 class="cover-heading">Zend MVC</h3>
            </div>
        </div>
        <div class="col-md-8">
            <div class="">
                <p>
                    <br/>The MVC pattern was used to separate controller logic from the presentation layer.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="inner cover">
                <h3 class="cover-heading">Separate web service</h3>
            </div>
        </div>
        <div class="col-md-8">
            <div class="">
                <p>
                    <br/>A REST API was used for further separation from the presentation layer, enabling the usage of different
                    presentation layers in the future as well as exposing functionality to external consumers.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="inner cover">
                <h3 class="cover-heading">Doctrine 2 ORM</h3>
            </div>
        </div>
        <div class="col-md-8">
            <div class="">
                <p>
                    <br/>The Doctrine 2 ORM framework was used as a database extraction layer, providing for easier switching of database
                    technologies, a significant reduction in code and database structure creation as well as initial data population.
                </p>
            </div>
        </div>
    </div>

</div>




