	<div class="cover row">
		<div class="col-md-3">
			&nbsp;
		</div>
		<div class="col-md-6 header-block">
			<h1 class="form-signin-heading">Mukuru - Login</h1><br/>
			<div class="optWrapper">
				<form id="frmLogin" class="form-pin">
					<div class="row login-box">
						<div class="col-md-12">
							<div class="form-group" id="[tid]_username">[username]</div>
							<div class="form-group" id="[tid]_password">[password]</div>
						</div>
					</div>
			 		<div class="row">
						<div class="col-md-12">
							&nbsp;<br/>
							<div class="form-group btn-login-main" id="[tid]_btnDoLogin">[btnDoLogin]</div>
							<span id="login-fail" class="pull-right" data-content=""></span>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>